<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Storing Data(Need), Exercises</span></div>

## Exercise 1 (Total Recall)

1. Two similarities between lists and arrays
   - Both lists and arrays store elements in a specific order, meaning the position of each element is fixed.
   - *To access data from lists (and arrays), we need to use an index corresponding to the dataâ€™s position. Python is a zero-indexed language, meaning it starts counting at 0.*
2. Two differences between lists and arrays
   - Lists can only store more than 1 kind of data type. 
   - *adding lists causes them to grow while adding arrays is an element-wise operation*
3. What is a dictionary?
   - A dictionary holds data and attributes a value to a key, we can access the value by calling the key

## Exercise 2 (Indexing)

Modify the code to print out all elements with an odd number.

In [12]:
py_list = ["a1", "b2", "c3", "d4", "e5", "f6", "g7", "h8", "i9", "j10"]
print(py_list[0])    # Prints 'a1'
print(py_list[2])    # Prints 'c3'
print(py_list[4])    # Prints 'e5'
print(py_list[6])    # Prints 'g7'
print(py_list[8])    # Prints 'i9'

#another way?
for element in py_list:
    number=int(element[1:])
    if number % 2== 1:
        print(element)

a1
c3
e5
g7
i9
a1
c3
e5
g7
i9

## Exercise 3 (Indexing again)

With the following list;
1. Access and print the element at index 4 using foward indexing.
2. Access and print the element at index 4 from the endof the list using reverse indexing.

In [3]:
elements = ['Hydrogen',
            'Helium', 'Lithium',
            'Beryllium', 'Boron', 'Carbon',
            'Nitrogen', 'Oxygen',
            'Fluorine',
            'Neon']

In [14]:
print(elements[4])

Boron

In [15]:
len(elements)

10

In [9]:
print(elements[-6])

Boron

## Exercise 4 (How many ones)

Using the concepts learnt in this chapter, determine the number of '1's in the following list:

In [19]:
numbers=[45, 60, 1, 30, 96, 1, 96, 57, 16, 1,
        99, 62, 86, 43, 42, 60, 59, 1, 1, 35,
        83, 47, 34, 28, 68, 23, 22, 92, 1, 79,
        1, 29, 94, 72, 46, 47, 1, 74, 32, 20,
        8, 37, 35, 1, 89, 29, 86, 19, 43, 61]

In [10]:
number_ones=[]
for number in numbers:
    if number==1:
        number_ones.append(number)

print(sum(number_ones))

NameError: name 'numbers' is not defined

In [17]:
true= '1'
false=not '1'

for number in np_array_numbers:
    if number==1:
        print('True')
    else:
        print('False')

False
False
True
False
False
True
False
False
False
True
False
False
False
False
False
False
False
True
True
False
False
False
False
False
False
False
False
False
True
False
True
False
False
False
False
False
True
False
False
False
False
False
False
True
False
False
False
False
False
False

In [1]:
numbers=[45, 60, 1, 30, 96, 1, 96, 57, 16, 1,
        99, 62, 86, 43, 42, 60, 59, 1, 1, 35,
        83, 47, 34, 28, 68, 23, 22, 92, 1, 79,
        1, 29, 94, 72, 46, 47, 1, 74, 32, 20,
        8, 37, 35, 1, 89, 29, 86, 19, 43, 61]

In [2]:
import numpy as np

In [18]:
np_array_numbers=np.array(numbers)

ones = (np_array_numbers == 1)
number_ones = ones.sum()
print(number_ones)

9