<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

In the previous chapter, we learned some essential basics of Python. In this chapter, we are introduced to different data types and how to combine variables with English.

# There is more to <span style='color:purple'>if</span>

There are situations when we need more branches in an <span style='color:purple'>if</span> statement. Python has the <span style='color:purple'>elif</span> (else if) statement for such cases. Here is how it works:

In [1]:
name = 'Batman'
if name == 'Batman':
    print('Hello Batman!')
elif name =='Robin':
    print('Hello Sidekick!')
else:
    print("Hello everyone else'")

Hello Batman!

## Asking Questions

To use <span style='color:purple'>if</span> to make decisions, we should be able to ask questions. 
<br>Here is an example of how we can do this:

Asking some questions about the following 2 lists:

In [2]:
fruits=['apple', 'banana', 'pineapple', 'jackfruit']
vegetables=['celery', 'potato', 'broccoli', 'kale']

In [3]:
'apple' in fruits

True

In [4]:
'celery' in vegetables

True

In [5]:
'watermelon'in fruits

False

In [6]:
('apple'in fruits) and ('cauliflower' in vegetables)

False

In [7]:
('apple'in fruits) or ('cauliflower' in vegetables)

True

In [9]:
'app' in 'apple'

True

<span style='color:red'> *Note `not` `in` `and` `or` are some python keywords in asking questions. </span>
However, Python can compare `'apples'` and `'oranges'`.

In [10]:
'apples'>'oranges'

False

False is the output because English letters are internally represented as numbers. 
<br> For example, `'a'` is 97 and `'o'` is 111. (Refer to data types for clarity)

## Asking Math questions

- The following will be useful when asking mathematical questions

|Question/Condition|Math Symbol|Python Symbols|
|:----------------:|:---------:|:------------:|
|Equals?|=|==|
|Not equal|≠|!=|
|Less than|<|<|
|Greater than|>|>|
|Less than or equal?|≤|<=|
|Greater than or equal?|≥|>=|

Python also accepts all the following syntax:

In [23]:
x = int(input('What is the number?'))

if x > 5 and x < 15:
    print('True')
else:
    print('False')

#(x > 5) and (x < 15) and 5 < x < 15 is also acceptable

What is the number? 6

True

## Looking for Help

We can get information about Python functions from within Python.

In [24]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# Python stores information in different formats or types

For efficiency, computers store information in different ways. For example, here are *four* ways we can store the number `1.234`.
<br>We are also using the function `type( )` to ask how Python how it's storing the information.

<u>Example 1:</u>
<br>`int()` drops the decimal portion

In [25]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

<u> Example 2:</u>
<br>`str()`stores the variable as an english word

In [27]:
x=str(1.234)
print(x, type(x))

1.234 <class 'str'>

<u>Example 3</u>
<br>`float()` stores the variable as a decimal number

In [28]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

<u>Example 4</u>
<br>`complex()` will include an imaginary part of the number

In [30]:
x=complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

*<span style='color:red'>There are many types of data, click [here](https://realpython.com/python-data-types/) for more details.*</span>

In [31]:
x = '1.234' #x is a string
print(x, type(x))

1.234 <class 'str'>

In [32]:
x=float(x)
print(x, type(x))

1.234 <class 'float'>

*This is called typecasting, where we cast `x` to the type `float`*

# Never compare floats directly

## The problem

Floating point numbers cannot be exactly stored in a computer. This leads to errors called <span style='color:orange'>roundoff errors</span>.

In [34]:
0.1 x 3 with 0.3

SyntaxError: invalid syntax (846483916.py, line 1)

In [35]:
a = 0.1 
a3=0.3
a *3 == a3

False

In [38]:
f'{0.3:.17f}'

'0.29999999999999999'

## A solution
_________

To get around these types of issues, we should check if the variable is close to the expected values instead of checking for equality

In [40]:
eps=1E-10
abs(a*3-a3)<eps

True

In [42]:
import numpy

In [44]:
import numpy as np

In [45]:
np.isclose(a*3, a3)

True

# Combining English and Variables
__________

Combining text and variables is easy with the newer versions of Python. Here are a few examples:

In [50]:
#Example 1:
name='Batman'
print(f'Hello {name}')

Hello Batman

In [54]:
#Example 2:
name='Batman'
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [56]:
#Example 3:
x=10
print(f"The value of {x} squared is {x**2}")

The value of 10 squared is 100

Note the `f` and the `{ }` in the above command. This is called **f-string** or **string** interpolation. 
<br> Here are more examples of what we can do with  *f-strings*

In [58]:
#Example 1: Using f-strings to format text (strings)
text='Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [61]:
print(f'{text:>30}') 
#A block of 30 characters;
#Aligned right

        Bruce Wayne is Batman.

In [63]:
print(f'{text:<30}')
#A block of 30 characters 
#Aligned left

Bruce Wayne is Batman.

In [65]:
#Example 2: Using f-string to format numbers 
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')
#print (string) and using NumPy to calculate pi to the power of 3 rounded off to 6 decimal places

The cube of pi to 6 decimal places is 31.006277

The `e` in `.6e` is used to tell the f-string to output the number in scientific notation.

## Structure of f-strings
____________

f-string formatting has the structure {X:>0Y.ZW}. Here is more information about the letters `x`, `y`>`0`,`Z`and`W`.

|Letter|Action|Possible Options|
|:----:|:----:|:--------------|
|`X`|Variable to format|Can be a number of string|
|`>`|Alignment|`<` (Left Justified)
|||`>` (Right Justified)|
|||`^` (Centre Justified)|
|`0`|Use 0's to pad the spaces|You can use other characters like a space|
|`Y`|Total number of characters||
|`Z`|Number of decimal places||
|`W`|Specifies the type of variable|`f` (float)|
|||`d` (integer)|
|||`s` (string)|
|||`g` (Asks Python to figure it out|

# Escape Sequences

This is a good point to highlight <span style='color:orange'>escape sequences</span>. It refers to special characters we sometimes need when writing english.

In [68]:
#Example: Breaking a line and adding a tab
print('Line 1\n\tLine 2\n\t\tLine 3')

Line 1
	Line 2
		Line 3

The `\n` is the command to breakline and `\t` represents a tab. These characters are not visible but they are there. 
<br> Here are all the useful escape sequences in a table:

|Escape Sequence|Meaning|
|:-------------:|:------|
|`\'`|Single Quote|
|`\\`|Backslash|
|`\n`|Newline|
|`\t`|Horizontal Tab|

Here are more examples:

In [70]:
#Example 1: Escape version '\'
print("You're twenty years old")
print('You\'re twenty years old')

You're twenty years old
You're twenty years old

In [71]:
#Example 2: If you want to print \ you need to escape it. 
print('A\\B\\C')

A\B\C

In [72]:
print('A\B\C')

A\B\C

In [73]:
#Example 3: Linebreaks
print('A\nB\nC')

A
B
C

In [75]:
#Example 4: Horizontal Tabs
print('A\tB\tC')

A	B	C

# Computers Read `=` from Right to Left!

The way computers use `=` is quirky

In [77]:
#Consider this code:
x = 40 
y = 40 + 2

In [78]:
y=40
y=y+2 
print(y)

42

In [79]:
x = y = 10 
print(x) 
print(y)

10
10

# Shorter and Cleaner Code

Shorthand syntax related to the previous point that will make our code neater. (Don't want to use but must still understand it)

In [81]:
#Version 1:
y = 40
y= 40 + 2
y

42

In [84]:
#Version 2:
y=40 
y+=2 
y

42

<span style='color:pink'>In the above case, y+=2 is the same as y=y+2</span> 
<br>Here is a table of shorthand notations:

||Long Form|Shorthand|
|:-:|:---------:|:-------|
|Addition|`y=y+2`|`y+=2`|
|Subtraction|`y=y-2`|`y=-=2`|
|Multiplication|`y=y*2`|`y*=2`|
|Division|`y=y/2`|`y/=2`|

# Python can be a prima-donna

- When we do something python doesn't like or understand. it will return a long error message. 
- Fixing coding errors is called <span style='color:orange'>debugging<span>
- Practice debugging!

# Best practices for Scientific Computing

<u>There are some practices we should always bear in mind.</u>

- Write programs for people, not computers
- Optimise software only after it works correctly
- Document design and purpose, not mechanics
- Collaborate

# Looking for Help

In [2]:
# Not recommended for novice learners
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.